:root {
  --primaryColor: #f44335;
  --secColor: #dfe6e9;
  --bodyBg: #fafafa;
}

/* jakarta sans font  */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Common Css   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bodyBg);
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* 
===============================
Header area Style start
===============================
*/
ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  transition: 0.5s;
  padding: 20px 10px;
  border-radius: 3px;
}
ul.m_menu li:hover a {
  background: var(--primaryColor);
  color: #fff;
}
/* Footer menu hover */
ul li a:hover {
  color: var(--primaryColor);
}
.active {
  color: var(--primaryColor);
}

button.top_btn {
  background-color: var(--primaryColor);
  color: #fff;
  transition: 0.5s;
}
button.top_btn:hover {
  background-color: var(--bodyBg);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}
/* 
===============================
Header area Style end
===============================
*/
/* Scroolbar style */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
}
.linear {
  position: relative;
}
.l_round {
  border-left: 2px solid #ccced2;
  height: 2655px;
  position: absolute;
  left: 48%;
  top: 65%;
}

.l_round span {
  position: absolute;
  left: -9px;
  color: #f44335;
}

.l_round span:nth-child(1) {
  margin-top: -20px;
  color: #f44335;
}

.l_round span:nth-child(2) {
  top: 9%;
  color: #f44335;
}

.l_round span:nth-child(3) {
  top: 24.5%;

  color: #f44335;
}

.l_round span:nth-child(4) {
  top: 45%;
  color: #f44335;
}
.l_round span:nth-child(5) {
  top: 64%;
  color: #f44335;
}
.l_round span:nth-child(6) {
  top: 82.5%;
  color: #f44335;
}
.l_round span:nth-child(7) {
  top: 99.8%;
  color: #f44335;
}
@media (max-width: 768px) { 
  .v_line{
  display:none;
}
/* 
===============================
Hero area Style start
===============================
*/
.large-text {
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
}
/* 
===============================
Hero area Style End
===============================
*/
/* 
===============================
Collaboration area Style start
===============================
*/

/* 
===============================
Collaboration area Style End
===============================
*/
/* 
===============================
Did you know? area Style start
===============================
*/ /* 
===============================
Did you know? area Style End
===============================
*/

/* 
===============================
How it works?  area Style start
===============================
*/

/* 
===============================
How it works?  area Style End
===============================
*/

/* 
===============================
Discover Your Skills area Style start
===============================
*/

/* 
===============================
Discover Your Skills area Style End
===============================
*/

/* 
===============================
..... area Style start
===============================
*/

/* 
===============================
..... area Style End
===============================
*/
